@import 'libs/normalize';
@import 'variables';


.page {
  width: calc(100vw - 100px);
  height: 100vh;
  background-color: $almostWhite;
  margin: 0 auto;
  max-width: 1400px;
}

.header {
  &__block {
    display: inherit;
    align-items: start;
  }

  &__block-button {
    display: inherit;
  }

  &__button {
    padding: 10px 20px;
    color: $mediumGray;
    border-radius: 10px;
    font-size: 14px;
    transition: $duration;
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: $mediumGray;
      color: $almostWhite;
    }

    &:active {
      background-color: black;
    }

    &-border {
      border: 1px solid $mediumGray;
    }
  }


}

.logo {
  margin-right: 50px;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.nav {
  display: inherit;

  &__item {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
  
  &__link {
    color: $mediumGray;
    transition: $duration;

    &--active {
      margin-right: 5px;
    }

    &:hover {
      color: $almostBlack;
    }
  }
}

.arrow {
  margin-bottom: 2px;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
}

.main {
  &__information {
    margin: 0 auto;
    align-self: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__articule {
    display: block;
    word-wrap: normal;
    font-size: 65px;
    font-weight: 700;

    margin-bottom: 40px;
  }

  &__text {
    color: $mediumGray;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;

    margin-bottom: 40px;
  }

  &__button {
    display: block;
    width: max-content;
    padding: 15px 30px;
    background-color: $almostBlack;
    border: 1px solid $almostBlack;
    border-radius: 10px;
    font-size: 18px;
    color: $almostWhite;
    cursor: pointer;
    transition: $duration;

    &:hover {
      background-color: $almostWhite;
      color: $almostBlack;
    }
  }
  &__block-text {
    margin-top: 30%;
  }

  &__block-client {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__block-img {
    justify-self: center;
  }

  &__img {
    width: 500px;
  }
}
